.p-name,
.p-correoElectronico,
.nav-menu-desplegar {
    font-size: 2rem;
}
.p-correoElectronico {
    padding: 0;
}
.h-name-description {
    font-size: 5.2rem;
    line-height: 61px;
}
.p-parrafo-description {
    font-size: 2.2rem;
    line-height: 26px;
    padding-right: 5%;
}
.list-li-contac {
    margin-top: 20px;
    font-size: 1.8rem;
}
.img-photo1 {
    width: 100%;
    height: 90%;
}
.div-name {
    justify-content: flex-end;
}
.div-sobreMi,
h2 {
    font-size: 3.2rem;
    line-height: 38px;
}
p {
    padding-right: 30%;
    font-size: 1.8rem;
    line-height: 22px;
}
.div-container-skills {
    width: 176px;
    height: 174px;
}
.div-container-formacion {
    width: 30%;
    height: auto;
}
.container-formacion-profesional {
    padding: 0 6%;
}
.img-formacion {
    width: 368px;
    height: 286px;
    padding: 10%;
}
.p-div-formacion,
.h-div-experiencias {
    font-size: 2.4rem;
    line-height: 28px;
}
.p-form {
    font-size: 1.6rem;
    line-height: 24px;
}
input,
textarea {
    font-size: 2.2rem;
}
button {
    width: 160px;
    font-size: 1.6rem;
    font-weight: 400;
}
.h-footer {
    font-size: 2rem;
    line-height: 24px;
}

